.App {
  width: 100%;
  min-height: 100vh;
  padding: 50px 0px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background: #f8f8f8;
}
div {
  color: #3a3a3a;
}
.header form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px auto !important;
  width: 50%;
}
.header .form-group {
  width: 300px;
  margin: 0px 0px !important;
}

.todo-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  padding: 16px;
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0px 0px 3px #00000020;
  background-color: #ffffff;
}
.notify .alert {
  margin: 5px 0px !important;
}
.btn-options button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  font-size: 1.2rem;
  margin: 0 5px;
}
.fa-trash {
  color: rgb(158, 157, 157);
}
.fa-trash:hover {
  color: rgb(216, 47, 47);
}
.fa-edit {
  color: rgb(163, 163, 230);
}
.fa-edit:hover {
  color: rgb(77, 77, 219);
}
@media screen and (max-width: 992px) {
  .header form {
    width: 70% !important;
  }
}
@media screen and (max-width: 768px) {
  .header form {
    width: 100% !important;
  }
}

@media screen and (max-width: 480px) {
  .header form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .header form button {
    width: 100% !important;
  }
  .header .form-group {
    width: 100%;
    margin: 0px 0px 20px 0px !important;
    padding: 6px 0px;
  }
  .todo-card {
    padding: 12px;
  }
  .todo-item {
    font-size: 0.9rem;
  }
  .btn-options button {
    font-size: 1rem;
  }
}
